body {
    background-image: url('/assets/mapa-autonomico.jpg');
    background-size: cover; /* Ajusta el tamaño para cubrir toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita repeticiones */
  }